# Ignore Python cache files
__pycache__/
*.py[cod]
backend/__pycache__/main.cpython-311.pyc

# Ignore virtual environments
venv/
env/
.venv/

# Ignore IDE/editor-specific files
.vscode/
.idea/
*.sublime-project

# Ignore node_modules (if applicable)
node_modules/

*.bkp
*.dtmp